@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rehype-code-title {
  @apply my-3 font-mono text-xs sm:text-base sm:px-3 bg-gray-600 border border-b-0 border-gray-200 rounded-t-lg border-opacity-25 w-screen sm:max-w-4xl;
}


.rehype-code-title h1 {
  @apply font-mono text-sm sm:text-base font-bold text-gray-200 m-4
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none mx-5;
}
